body {
  background: #3399ff;
}
.box {
  width: 520px;
  height: 450px;
  position: absolute;
  border-radius: 10%;
  top: 20%;
  left: 30%;
  transform: translate(-5%, -18%);
  background: linear-gradient(100deg, #67a8e680, #0603b4 50%, transparent 50%);
  background-size: 250%;
  background-position: 100% 100%;
  transition: background 0.5s;
}
.box:hover {
  background-position: 0% 0%;
}
.box img {
  width: 200px;
  height: 200px;
  margin-left: 150px;
  margin-top: 20px;
}
.circle {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  margin: auto;
}
.box h2 {
  margin-left: 70px;
  color: white;
  margin-top: 10px;
}
/* img {
  width: 120px;
  height: 120px;
  position: absolute;
  border-radius: 50%;
  top: 5%;
  left: 18%;
  transform: translate(-5%, -18%);
  padding: 8px;
  background: linear-gradient(135deg, #8da9c4, #eef4ed 50%, transparent 50%);
  background-size: 250%;
  background-position: 100% 100%;
  transition: background 0.5s;
}
img:hover {
  background-position: 0% 0%;
} */
